/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: sandybrown;
}

#app {
    margin-top: 2rem;
    text-align: center;
}

h1 {
    margin-bottom: 3rem;
}

.email {
    text-align: left;
    list-style: none;
    margin-bottom: 1rem;
}